{% extends 'base.html' %}
{% block head_title %} {% endblock head_title %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container mt-55">
        <h1 class="display-4">Transactions</h1>
        <p class="lead">List of transactions by day.</p>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Trans Id</th>
                <th scope="col">Action</th>
                <th scope="col">Time</th>
                <th scope="col">ISIN</th>
                <th scope="col">Name</th>
                <th scope="col">Share Quantity</th>
                <th scope="col">Price per Share</th>
                <th scope="col">Currency</th>
                <th scope="col">Exchange Rate day</th>
                <th scope="col">Result</th>
                <th scope="col">Total</th>
                <th scope="col">Witholding Tax</th>
                <th scope="col">Charge Amount</th>
                <th scope="col">Stamp Duty</th>
                <th scope="col">Stamp Duty Reserve Tax</th>
                <th scope="col">Finra Fee</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>

        {% if transaction_list %}
        {% for transaction in transaction_list %}
        <tbody>
            <tr>
                <th scope="row">{{ transaction.transaction_id }}</th>
                <td>{{ transaction.action }}</td>
                <td>{{ transaction.time }}</td>
                <td>{{ transaction.isin }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.share_quantity }}</td>
                <td>{{ transaction.price_per_share }}</td>
                <td>{{ transaction.currency }}</td>
                <td>{{ transaction.exchange_rate }}</td>
                <td>{{ transaction.result }}</td>
                <td>{{ transaction.total }}</td>
                <td>{{ transaction.witholding_tax }}</td>
                <td>{{ transaction.witholding_tax_currency }}</td>
                <td>{{ transaction.charge_amount }}</td>
                <td>{{ transaction.stamp_duty }}</td>
                <td>{{ transaction.stamp_duty_reserve_tax }}</td>
                <td>{{ transaction.finra_fee }}</td>
                <td>{{ transaction.notes }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <p>No transactions are available.</p>
    {% endif %}
</div>
</div>

{% endblock content %}