Django==2.1.15
psycopg2-binary==2.8.6
wheel==0.35.1
pylint==2.6.0
django_ckeditor==6.0.0
pylint-django==2.3.0
black==20.8b1
django-extensions==3.1.0
ipython==7.19.0
djangorestframework==3.1
Markdown==3.3.3
django-filter==2