{% extends 'base.html' %}
{% block head_title %} {% endblock head_title %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container mt-55">
        <h1 class="display-4">{{ article.title }}</h1>
        <p class="lead">{{ article.sub_title }}</p>
        <sub>{{ article.date_published }} || {{ article.author }}</sub>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            {{ article.body }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a href="/blog">Back to articles</a>
        </div>
    </div>
</div>

{% endblock content %}